@media (max-width: 360px) {
  .container-fluid {
    min-width: 350px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .panel {
    margin-left: -17px;
    margin-right: -13px;
  }

  .pull-left,
  .pull-right {
    float: unset !important;
  }

  .noshowonlowres {
    display: none;
  }
}

@media (min-width: 361px) and (max-width: 640px) {
  .container-fluid {
    min-width: 350px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .panel {
    margin-left: -17px;
    margin-right: -13px;
  }

  .noshowonlowres {
    display: none;
  }
}

.item-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.panel-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 800px) and (max-width: 1350px) {
  .fixedbutton {
    width: 6em !important;
  }
}

@media (min-width: 1600px) {
  .fixedbutton {
    width: 6em !important;
  }
}

@media (min-width: 641px) {
  .container-fluid {
    min-width: 350px;
  }
}

@media (min-width: 768px) {
  .modal-content {
    width: 580px;
  }
}

@media (min-height: 640px) {
  .modal {
    padding-top: 5px;
  }
}

@media (max-width: 767px) {
  .modal-content {
    width: 100%;
  }
}
